ul, ol {list-style: none;}
.freeboard textarea, .freeboard input { outline: none; }
.freeboard textarea { resize: none; }
.freeboard { max-width: 1000px; margin: 0 auto; padding: 0 30px; }
.freeboard .b_info { margin: 50px 0; text-align: center; }
.freeboard .b_info p { font-size: 24px; font-weight: 600; }
.freeboard a { color: #121F37; }

/* board_list */

  .search { display: flex; height: 40px; margin: 32px 0;  justify-content: center; }
  .search  select { padding: 0 10px; border: 1px solid #aaa; border-radius: 2px; cursor: pointer; }
  .search  input { width: 50%; margin: 0 10px; padding: 6px 8px; border: 1px solid #aaa; border-radius: 2px;}
  .search  button { width: 36px; height: 36px; padding: 0; background: transparent; border: none;  font-size: 24px;  color: #555; text-align: center;  }
  .search button:hover { color: #0a58ca; }

  .insert_btn { margin: 30px 0; text-align: right; }
  .insert_btn a { display: inline-block; padding: 10px 20px; background: #0a58ca; border: 1px solid #0a58ca; color: #fff;  border-radius: 5px; }
  .insert_btn a:hover { background: #2474e9; color: #fafafa; }

  .b_list table { width: 100%; text-align: center; }
  .b_list table tr { height: 40px;  border-bottom: 1px solid #dfdfdf; }
  .b_list table thead tr:nth-child(1) { height: 52px; border-top: 2px solid #999; background: #fafafa; font-weight: 600; }
  .b_list table tr > td:nth-child(1) { width: 80px; }
  .b_list table tr > td:nth-child(2) { width: 200px; font-weight:600; }
  .b_list table tr > td:nth-child(3) { width: 100px; }
  .b_list table tr > td:nth-child(4) { width: 80px; }
  .b_list table tr > td:nth-child(5) { width: 100px; }

  .b_paging { margin: 50px 0; }
  .b_paging ul { display: flex; justify-content: center; }
  .b_paging ul li a { display: block; padding: 10px 16px; }
  .b_paging ul li a.active { background: #e2ecfb; color: #0a58ca; font-weight:600; }
  .b_paging ul li a:hover { background: #e2ecfb; }

/*board_one*/
 .bo_btn_box { display: flex; margin-bottom: 50px; justify-content: flex-end;}
 .bo_btn_box a,  .bo_btn_box button { display: block; padding: 8px 24px;  background: #0a58ca; border: 1px solid #0a58ca; border-radius: 5px; color: #fff; }
 .bo_btn_box .update_btn { margin: 0 10px; }
 .bo_title { padding: 26px 0; border: 1px solid #999; border-right: none; border-left: none; }
 .bo_title p { padding: 0 6px; margin: 0;font-size: 28px; font-weight: 900; }
 .bo_title2 { display: flex; margin: 10px 0 80px; justify-content: space-between; flex-wrap: wrap; }
 .bo_title2 >div > span > span:nth-child(1) { margin-right: 6px; font-weight: 600; }
 .bo_title2 >div > span > span:nth-child(2) { margin-right: 12px; }
 .bo_title2 .t2_left{}
 .bo_content { margin-bottom: 100px; padding: 0 6px; }
 .file_content .img_file:has(.img_list),
 .file_content .file:has(.file_list) { width: 100%; overflow: hidden; margin-bottom: 10px; padding: 20px; background: #f6f6f6; border-radius: 10px; }
 .file_content .img_file { text-align: center; }
 .file_content .img_file .img_list span { display: block; text-align: center; }
 .file_content .img_file .img_list div { width: 200px; padding: 10px; }
 /*.file_content .img_file .img_list img { width: 100%; }*/
 .file_content .img_file .img_list img { max-width: 300px; }
 .file_content .file .file_list { display: flex; height: 30px; margin-bottom: 30px; align-items: center; cursor: pointer; }
 .file_content .file .file_list:last-child { margin-bottom: 0; }
 .file_content .file .file_list div { height: 100%; padding: 5px; }
 .file_content .file .file_list img { height: 100%; }

  .comment { padding: 50px 0; }
  .comment > p { font-size: 18px; font-weight: 600 }
  .comment .c_group { min-width: 500px; padding: 0 10px; }
  .comment .c_parent { padding: 10px; border-bottom: 1px solid #ddd;}
  .comment div.c_group:nth-of-type(1) .c_parent { border-top: 1px solid #ddd; }
  .comment .c_child { display: flex; padding: 10px; border-bottom: 1px solid #ddd; }
  .comment .c_child > div i { display: block; width: 36px; height: 36px; line-height: 36px; font-size: 16px; color: #084298; transform: rotate(90deg); }
  .comment .c_child > div:nth-child(1) { width: 36px; padding-top: 7px; }
  .comment .c_child > div:nth-child(2){ width: calc(100% - 36px); }
  .comment  .c_title { display: flex; justify-content: space-between; align-items: baseline; flex-wrap: wrap; }
  .comment  .c_title div { display: flex; flex-wrap: wrap; }
  .comment  .c_title .title_info p:nth-child(1) { margin-right: 12px; color: #0a58ca; font-weight: 600; }
  .comment  .c_title .title_btn button{ margin-right: 10px; padding: 2px 10px; background: transparent; border: 1px solid  transparent; color: #888; border-radius: 3px; font-size: 12px;  }
  .comment  .c_title .title_btn button:hover { border-color: #0a58ca; color: #0a58ca;  }
  .comment  .c_title .title_btn button:last-child { margin-right: 0; }
  .comment  .c_content { padding: 0 30px; }
  .comment  .c_content > div { display: none; align-items: flex-start; }
  .comment  .c_content textarea { width: calc(100% - 120px - 10px); height: 80px;  margin-right: 10px; }
  .comment  .c_content .c_btn { display: flex; width: 120px; }
  .comment  .c_content .c_btn button { width: calc((100% - 6px) / 2 );  padding: 3px 0; background: transparent; border: 1px solid  #888; color: #888; border-radius: 3px; font-size: 12px; }
  .comment  .c_content .c_btn button:last-child { margin-left: 6px; }
  .comment  .c_content .c_btn button:hover { border-color: #0a58ca; color: #0a58ca; }
  .comment .c_input { margin: 30px 0 50px; }
  .comment .c_input > p { font-size: 18px; font-weight: 600; }
  .comment .c_input > div { display: flex; padding: 10px; justify-content: space-between; align-items: baseline;}
  .comment .c_input > div textarea { width: calc(100% - 80px - 10px); height: 120px;  margin-right: 10px; }
  .comment .c_input > div button { width: 80px; padding: 6px 0; background: #0a58ca; border: 1px solid #0a58ca;  border-radius: 3px; color: #fff; }
  .bo_page { margin-bottom: 80px; border-right: none; border-left: none; }
  .bo_page div { display: flex; height: 50px; align-items: center; }
  .bo_page div:nth-child(1) { border-bottom: 1px solid #ddd; }
  .bo_page div span { width: 100px; line-height: 49px; margin-right: 10px; background: #f9f9f9; text-align: center; }
  .bo_page div div { width: calc(100% - 100px - 10px); font-weight: 600; }
  .bo_page div div a:hover { color: #0a58ca; }
  .bo_page:has(.next_link) { border-bottom: 1px solid #ddd; }
  .bo_page:has(.pre_link) { border-top: 1px solid #ddd; }


/* board_inset, board_update */
  .freeboard:has(.insert_form) { padding: 0 60px; }
  .insert_form .in_row { display: flex; margin-bottom: 30px; }
  .insert_form .in_row p,
  .insert_form .file_row > p { width: 80px; line-height: 50px; margin: 0; }
  .insert_form .in_row  input,
  .insert_form .in_row textarea,
  .insert_form .file_row  .file_box { width: calc(100% - 80px); }
  .insert_form .in_row textarea { height: 600px; }
  .insert_form .file_row { display: flex; }
  .insert_form .file_row .file_box .file_info { display: flex; height: 50px; margin-bottom: 10px; align-items: center; flex-wrap: wrap; }
  .insert_form .file_row .file_box .file_info input {display: none; }
  .insert_form .file_row .file_box .file_info label { padding: 6px 10px; margin-right: 10px; border: 1px solid #0a58ca; color: #0a58ca;  border-radius: 3px; cursor: pointer; }
  .insert_form .file_row .file_box .file_preview { width: 100%; min-height: 200px; max-height: 400px; overflow-y: auto; padding: 20px; border: 1px solid #999; }
  .insert_form .file_row .file_box .file_preview .preview_box { display: inline-block; margin: 0 10px 10px 0; }
  .insert_form .file_row .file_box .file_preview .preview_box .p_title { display: flex; }
  .insert_form .file_row .file_box .file_preview .preview_box .p_title p { margin: 0 0 0 10px; }
  .insert_form .file_row .file_box .file_preview .preview_box .p_title p button { width: 24px; height: 24px; background: transparent; border: 1px solid transparent; border-radius: 50%; }
  .insert_form .file_row .file_box .file_preview .preview_box .p_title p button:hover { color: #0a58ca; }
  .insert_form .file_row .file_box .file_preview img { display: block; margin: 6px auto; }
  .insert_form .in_btn { display: flex; margin: 50px auto; justify-content: center; }
  .insert_form .in_btn button, .insert_form .in_btn a { padding: 10px 30px; background: transparent; border: 1px solid #0a58ca; color: #0a58ca; border-radius: 5px; }
  .insert_form .in_btn button { margin-right: 10px; background: #0a58ca; color: #fafafa; }


/* 반응형 */
    @media (max-width: 768px){
         .freeboard:has(.insert_form) { padding: 0 20px; }
         .insert_form .file_row .file_box .file_info { height: auto; }
    }