/* 메인페이지 */
    .logo-link {
      display: flex;
      align-items: center;
      text-decoration: none; /* 링크 밑줄 제거 */
    }

    .logo-image {
      max-width: 300px; /* 로고 이미지 크기 조정 */
      height: auto; /* 이미지 높이 자동 조절 */
    }

    .logo-text {
      font-size: 24px; /* 로고 텍스트 크기 */
      font-weight: bold; /* 글씨 굵게 */
      color: #333; /* 글씨 색상 */
      /*margin-left: 5px; !* 이미지와 텍스트 간격 *!*/
    }
    #topbar a { text-decoration: none; }
    #header .navbar a {  color: #333; font-size: 14px; font-weight: 900; text-decoration: none; }
    #header .navbar a:hover { color: #0a58ca; }


    #main { cursor: default; }
    #main a { text-decoration: none; }
    #hero:has(.book_search) { height: 40vh; }
    .book_search { display: flex; width: 100%; height: 100%; justify-content: center; align-items: center; background: linear-gradient(139deg, rgba(251,135,161,0.3) 0%, rgba(135,182,250,0.3) 74%, rgba(45,110,204,0.3) 100%); }
    .book_search div { display: flex; }
    .book_search div input { width: 600px; height: 50px; padding: 6px 10px; outline-color: #0a58ca; border-radius: 5px; border: none; }
    .book_search div button { width: 50px; height: 50px; font-size: 30px; color: #888; background: transparent; border: 1px solid transparent; }
    .book_search div button:hover { color: #0a58ca; }

    .library_slide { background: #fafafa; padding: 40px 0; }
    .library_slide .library_slide_inner { width: 80%; max-width: 960px; height: 420px; margin: 0 auto; padding: 20px 0; }
    .library_slide .lb_row { display: flex; flex-wrap: wrap; }
    .library_slide .lb_row:nth-child(1) { margin-bottom: 20px; }
    .library_slide .lb_row .lb_content { display: flex; width: calc((100% - 30px) / 2); padding: 10px; border: 1px solid #eee; border-radius: 10px; box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08); }
    .library_slide .lb_row .lb_content:hover { border-color: #0a58ca; }
    .library_slide .lb_row .lb_content:nth-child(1) { margin-right: 30px; }
    .library_slide .lb_row .lb_content .lb_icon { display: flex;width: 15%; height: 100%; font-size: 46px; color: #333; justify-content: center; align-items: center;}
    .library_slide .lb_row .lb_content .lb_info { width: 85%; height: 100%;  text-align: center;}
    .library_slide .lb_row .lb_content .lb_info a { color: #333; font-size: 18px; font-weight: 600; }
    .library_slide .lb_row .lb_content .lb_info a:hover { color: #0a58ca; }
    .library_slide .carousel-control-next, .library_slide .carousel-control-prev  { width: 10%; }
    .library_slide .carousel-control-prev-icon,
    .library_slide .carousel-control-next-icon { font-size: 32px; color: #555; background: transparent; }
    .library_slide .bx-right-arrow:before, .library_slide .bx-left-arrow:before { content: ""; }
    .library_slide .carousel-indicators [data-bs-target] { background-color: rgba(0, 0, 0, 0.3); }

    .board { margin-top: 80px; }
    .board .container { display: flex; flex-wrap: wrap; }
    .board .container .b_inner { width: calc((100% - 30px) / 2); padding: 30px; border: 1px solid #eee; }
    .board .container .b_inner:nth-child(1) { margin-right: 30px; }
    .board .container .b_inner .b_title { display: flex; font-weight: 600; color: #333; justify-content: space-between; align-items: baseline; }
    .board .container .b_inner .b_title p { font-size: 18px;  }
    .board .container .b_inner .b_title a  { width: 30px; height: 30px; line-height: 30px; border-radius: 50%;  font-size: 26px; color: #0a58ca; text-align: center; }
    .board .container .b_inner .b_title a:hover { background: #fbfafa; }
    .board .container .b_inner .b_list div { display: flex; height: 50px; padding: 0 4px; align-items: center;}
    .board .container .b_inner .b_list div p { overflow: hidden; margin: 0; text-overflow: ellipsis; white-space: nowrap; }
    .board .container .b_inner .b_list div p a { color: #333; }
    .board .container .b_inner .b_list div p a:hover { color: #0a58ca; border-bottom: 1px solid #0a58ca; }
    .board .container .b_inner .nb_list div p:nth-child(1) { width: 80%; }
    .board .container .b_inner .nb_list div p:nth-child(2) { width: 20%; text-align: right; }
    .board .container .b_inner .fb_list div p:nth-child(1) { width: 60%; }
    .board .container .b_inner .fb_list div p:nth-child(2) { width: 20%; padding: 0 3px 0 10px; text-align: center; }
    .board .container .b_inner .fb_list div p:nth-child(3) { width: 20%; text-align: right; }

    .review .rv_title { color: #333; margin: 50px 0; font-size: 28px; font-weight: 600; text-align: center; }
    .review .portfolio-item .portfolio-info .preview-link:hover,
    .review .portfolio-item .portfolio-info .details-link:hover { color: #0a58ca; }

    #footer { background: #f8f6f5; }
    #footer a { color: #aaa; text-decoration: none; }
    .main_top { right: 30px; bottom: 30px; background: rgba(45, 110, 204, 0.6); border-radius: 50%; }
    .main_top:hover { background: rgba(45, 110, 204, 1); }

    /* 반응형 */
    @media (max-width: 768px){
          .book_search div input { width: 420px; }
         .library_slide .library_slide_inner { width: 400px; height: auto; }
         .library_slide .lb_row:nth-child(1) { margin-bottom: 10px; }
         .library_slide .lb_row .lb_content { width: 100%; margin: 0 0 20px 0 !important; }
         .board .container .b_inner { width: 100%; }
         .board .container .b_inner:nth-child(1) { margin: 0 0 20px 0; }
    }

div.portfolio-container { display: flex; flex-wrap: wrap; }

.portfolio .portfolio-item { overflow: hidden; padding: 20px; }